@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


.container-fluid {
  padding: 0px;
}

a {
  transition: 0.5s;
  text-decoration: none;
}



:root{
  --color-white: #F3F4F5;
  --color-dark1: #F3F4F5;
  --color-dark2: #161530;
  --color-dark3: #414141;
  --color-dark4: #1c1c1c;
  --color-dark5: #161530;
  --color-purple: #ffb500;
}

.header,
.navigation_header{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.container-fluid {
  padding: 0px;
}

.header{
  background-color: var(--color-dark2);
  justify-content: space-between;
  padding: 0 10%;
  height: 72px;
}
.navigation_header{
  gap: 4em;
  z-index: 2;
}



.navigation_header a{
  text-decoration: none;
  color: var(--color-purple);
  transition: 1s;
  font-weight: 800;
  font-family: 'Roboto';
  font-size: 16px;
}
.navigation_header a:hover{
  color: var(--color-white);
  transition: 0.5s;
}

.btn_icon_header{
  background: transparent;
  border: none;
  color: var(--color-white);
  cursor: pointer;
  display: none;
}
@media screen and (max-width: 1300px) {
  .navigation_header{
      position: absolute;
      flex-direction: column !important;
      top: 0;
      background: var(--color-dark5);
      height: 100%;
      width: 35vw;
      padding: 1em;
      align-items: start;
      animation-duration: 1s;
      margin-left: -100vw;
  }
  .btn_icon_header{
      display: block;
  }
}
@keyframes showSidebar {
  from {margin-left: -100vw;}
  to {margin-left: -10vw;}
}

.logo_texto {
 margin-top: 15px;
 font-weight: 600;
 font-family: 'Roboto';
 color: white;
 font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 font-size: 30px;
}

